PORT=8000
MONGODB_URI=mongodb+srv://haseebbaig6594325:<password>@cluster0.tnvsrw1.mongodb.net 
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backened
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_NAME=dibifnrfx
CLOUDINARY_API_KEY=949155732713241
CLOUDINARY_API_SECRET=OFtBNgrR2j_sxYKzMqIir-lUJM4
